/*Main content custom properties below used for repeated styling that can be linked */
:root{
    --contentFontSize: 105%;
    --headerMargin: 8px;
    --contentMargin: 35px;
}
/* Change nav bar background color */
.navbar {
    background-color: darkgreen;
}

.container{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 710px;
    background-color: lightgreen;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, darkgreen, greenyellow) 1;

}
/*Inner box that holds the lists*/
.box {
    border: 1px solid black;
    margin-right: 30px;
    padding: 10px;
    width: 200px;
    height: 220px;
    display: inline-block;
    vertical-align: top;
}

.box h2 {
    margin: 0;
}

/*Fixes another visual bug with boxes*/
.box:last-child {
    margin-right: 0;
}
/*General list styling inside of the box*/
.box ul {
    list-style: none;
}
/*Font styling for lists in greenspaces diagram*/
.greenlist{
    color: black;
}
/*Div class for text beneath diagram*/
.maincontainer2{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: -30px;
}

/*Holds image from above why green spaces are important*/
.imgcontainer3{
    /*scale: 50%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

/*Container to hold the left-most image and text*/
.imgcontainer{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    max-height: 35%;
    font-size: 15px;
}


/*Container to hold squished picture on bottom and text*/
.imgcontainer2{
    max-width: 35%;
    max-height: 35%;
    margin-left: 100px;
    margin-top: -5px;
    font-size: 15px;
}
#titleHead{
    font-size: 300%;
    font-weight: bold;
    font-family: Impact;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    left: auto;
    border-bottom: #0f6674;
    letter-spacing: 1.2px;
    word-spacing: 5px;
}


/*"What is it" header*/
#head1{
    text-align: center;
    margin-left: var(--headerMargin);
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 125%;
    font-family: Verdana;
    text-decoration: underline;
}
/*Content beneath header1*/
#maincontent1{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 25px;
    font-size: 125%;
    font-family: "Palatino Linotype";
    letter-spacing: 1.2px;
    padding-bottom: 15px;
    line-height: 2;
}
/*2nd paragraph beneath header1*/
#maincontent2{
    margin-left: 35px;
    margin-right: 35px;
    justify-items: left;
    text-indent: 25px;
    font-size: var(--contentFontSize);
}
/*"Why are green spaces important" header*/
#head2{
    margin-left: var(--headerMargin);
    font-weight: bold;
    font-size: 125%;
}
/*Content beneath the header2*/
#maincontent3{
    margin-left: 35px;
    margin-right: 35px;
    justify-items: left;
    text-indent: 25px;
    font-size: var(--contentFontSize);
}
/*"What can be done" header*/
#head3{
    margin-left: var(--headerMargin);
    font-weight: bold;
    font-size: 125%;
}
/*Content beneath header3*/
#maincontent4{
    margin-left: 35px;
    margin-right: 35px;
    justify-items: left;
    text-indent: 25px;
    font-size: var(--contentFontSize);

}
/*Header for box*/
#boxheader{
    font-size: 125%;
    text-align: center;
    margin: 10px;
}

#green_space_path{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    max-height: 400px;
    margin-bottom: 15px;
}
#permpavement{
    border-radius: 10px;
    max-height: 650px;
    margin-right: 50%;
    margin-top: 100px;
    margin-left: 50%;

}
#wideaspectgarden{
    border-radius: 10px;
    max-height: 450px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 25px;
}
#img1caption{
    padding-left: 10px;
}
#img2caption{
    text-align: center;
    margin-left: 300px;
}
#flex1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#flex2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#flex3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}





